/*chatroom*/
.chatheader{
  	float:left;
	overflow:hidden;
  	width:60px;
  	text-align: center;
  	min-height: 50px;
}

.chatheader img{
	background:url(URL-of-image) no-repeat;
	background-size:720px 480px;
	background-position:-160px 0px;
	height:50px;
	width:50px;
	border-radius:50%;
	overflow:hidden;
}

.chatroom{
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	margin:10px auto 10px auto;
	width:90%;
	height: 95%;
	padding: 3px;
	position: fixed;
	right:10px;
	left:10px;
}

.chatroomheader{
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	margin:10px auto 10px auto;
	width:98%;
	padding: 3px;
	overflow: hidden;
}

.chatroomheader h2{
	color:#003366;
	margin:0 0 0 8pt ;
}

.chatmain{
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	margin:0 auto 0 auto;
	width:98%;
	height: 70%;
	padding: 3px;
	overflow: hidden;
	position: relative;
}

.message{
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	margin-bottom: 10px;
	width:80%;
	height: 100%;
	padding: 3px;
	min-height: 80px;
	overflow-y:scroll;
	overflow-x: hidden;
	display: inline-block;
	position: relative;
	float: left;
}
.parti{
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	width:20%;
	height: 100%;
	padding: 3px;
	min-height: 80px;
	overflow-y:scroll;
	overflow-x: hidden;
	display: inline-block;
	position: relative;
	float: right;
}

.chatmessage{
	min-height: 50px;
	width:100%;
	margin-top: 5px;
}

.chatcontent{
	width:90%;
	max-height:50px;
	line-height: 50px;
}

.chatcontent p{
	word-wrap: break-word;
	overflow: hidden;
}
.chatname{
	line-height: 50px;
	overflow: hidden;
}
.chatwritecontainer{
	width:50%;
	display: inline-block;
}

.chatbutton{
	width:10%;
	display: inline;
}